@layer components {
    span.dark-ripple, span.ripple {
    position: fixed;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    animation: dark 500ms;
    opacity: 0;
    background: rgba(0,0,0,0.3)
    }

    @keyframes dark {
        from {
            opacity: 1;
            transform: scale(25);
        }

        to {
            opacity: 0;
            transform: scale(0);
        }
    }

    span.ripple {
        animation: ripple 1200ms;
        position: absolute;
    }

    @keyframes ripple {
        from {
            opacity: 1;
            transform: scale(0);
            background: rgba(0,0,0,0.3)
        }

        to {
            opacity: 0;
            transform: scale(10);
            background: rgba(0,0,0,0)
        }
    }

    span.dark-ripple {
        @apply bg-black dark:bg-white;
    }

    .jus-c-item-c, .jus-c-item-s, .jus-c-item-e, .jus-s-item-c, .jus-e-item-c, .jus-s-item-s, .jus-s-item-e, .jus-e-item-s, .jus-e-item-e {
        @apply flex ;
    }

    .jus-s-item-c, .jus-e-item-c, .jus-c-item-c{
        @apply items-center;
    }

    .jus-c-item-c, .jus-c-item-s, .jus-c-item-e {
        @apply justify-center;
    }

    .jus-c-item-e, .jus-s-item-e, .jus-e-item-e {
        @apply items-end;
    }

    .jus-c-item-s, .jus-s-item-s, .jus-e-item-s {
        @apply items-start;
    }

    .jus-s-item-c, .jus-s-item-e, .jus-s-item-s {
        @apply justify-start;
    }

    .jus-e-item-c, .jus-e-item-e, .jus-e-item-s {
        @apply justify-end;
    }

    .btn-xs, .btn-s, .btn-m, .btn-l, .btn-xl, .btn-fluid, .btn-gen {
        box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.3);
        @apply h-12 rounded-lg cursor-pointer;
    }

    .btn-xs {
        @apply w-32;
    }

    .btn-s {
        @apply w-40;
    }

    .btn-m {
        @apply w-48;
    }

    .btn-l {
        @apply w-64;
    }

    .btn-xl {
        @apply w-80;
    }

    .btn-fluid {
        @apply w-full;
    }

    .btn-gen {
        @apply btn-xs sm:btn-s md:btn-m lg:btn-l xl:btn-xl;
    }

    .ripple-effect {
        @apply overflow-hidden relative;
    }

    .btn-success, .btn-danger, .btn-info, .btn-orange, .btn-amber, .btn-green, .btn-emerald, .btn-teal, .btn-primary, .btn-sky, .btn-blue, .btn-fuchsia, .btn-purple, .btn-violet, .btn-pink, .btn-rose, .btn-slate, .btn-secondary, .btn-neutral, .btn-black {
        @apply text-white cursor-pointer;
    }

    .btn-success {
        @apply hover:bg-lime-600 bg-lime-500
    }

    .btn-danger {
        @apply hover:bg-red-600 bg-red-500
    }

    .btn-info {
        @apply hover:bg-yellow-600 bg-yellow-500
    }

    .btn-orange {
        @apply hover:bg-orange-600 bg-amber-500
    }

    .btn-amber {
        @apply hover:bg-amber-600 bg-amber-500
    }

    .btn-green {
        @apply hover:bg-green-600 bg-green-500
    }

    .btn-emerald {
        @apply hover:bg-emerald-600 bg-emerald-500
    }

    .btn-teal {
        @apply hover:bg-teal-600 bg-teal-500
    }

    .btn-primary {
        @apply hover:bg-cyan-600 bg-cyan-500
    }

    .btn-sky {
        @apply hover:bg-sky-600 bg-sky-500
    }

    .btn-blue {
        @apply hover:bg-blue-600 bg-blue-500
    }

    .btn-fuchsia {
        @apply hover:bg-fuchsia-600 bg-fuchsia-500
    }

    .btn-purple {
        @apply hover:bg-purple-600 bg-purple-500
    }

    .btn-violet {
        @apply hover:bg-violet-600 bg-violet-500
    }

    .btn-pink {
        @apply hover:bg-pink-600 bg-pink-500
    }

    .btn-rose {
        @apply hover:bg-rose-600 bg-rose-500
    }

    .btn-slate {
        @apply hover:bg-slate-600 bg-slate-500
    }

    .btn-secondary {
        @apply hover:bg-gray-600 bg-gray-500
    }

    .btn-neutral {
        @apply hover:bg-neutral-600 bg-neutral-500
    }

    .btn-black {
        @apply hover:bg-slate-600 bg-slate-900
    }

    .box-shadow-eq-sm {
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.3);
    }

    .box-shadow-eq-md {
        box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.3);
    }

    .box-shadow-eq-lg {
        box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.3);
    }
}

