span.dark-ripple, span.ripple {
  position: fixed;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: dark 500ms;
  opacity: 0;
  background: rgba(0,0,0,0.3)
}

@keyframes dark {
    from {
        opacity: 1;
        transform: scale(25);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

span.ripple {
    animation: ripple 1200ms;
    position: absolute;
  }

  @keyframes ripple {
      from {
          opacity: 1;
          transform: scale(0);
      }

      to {
          opacity: 0;
          transform: scale(10);
      }
  }
